<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49996/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="tblUser.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:20928/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="tblCoSo.WebServiceSoap"
                name="WebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>